.Psubdiv{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-right: 5px;
    justify-content: space-around;
    position: fixed;
    left: 10px;
}
.Pmaindiv{
    width: 99%;
    height: 150vh;
    display: flex;
    padding-top: 12vh;
    flex-direction: row;
    justify-content: space-around;
}
.Pimagesubdiv{
    width: 49%;
}
.Pimg1{
    width: 100%;
}
.psubdiv2{
    width: 40%;
    margin-left: 55%;
    text-align: left;
    z-index: 1;
}
.loading{
    margin-top: 15vh;
}

.applyButton{
    width: 200px;
    height: 6vh;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 25px;
}
.applyButton:hover{
    background-color: rgb(0, 196, 0);
    color: white;
    font-size: 22px;
    font-weight: 500;
    
}